# Configuração do Servidor
PORT=3000
NODE_ENV=development

# Configuração RabbitMQ
RABBITMQ_USER=admin
RABBITMQ_PASS=admin123
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672

HOST=localhost

# Configurações do RabbitMQ CloudAMQP
# RABBITMQ_USER=bjnuffmq
# RABBITMQ_PASS=gj-YQIiEXyfxQxjsZtiYDKeXIT8ppUq7
# RABBITMQ_HOST=jaragua-01.lmq.cloudamqp.com
# RABBITMQ_PORT=5672
# RABBITMQ_URL=amqp://bjnuffmq:gj-YQIiEXyfxQxjsZtiYDKeXIT8ppUq7@jaragua-01.lmq.cloudamqp.com


# Configuração das Filas
QUEUE_NAME_PREFIX=daniel
QUEUE_ENTRADA=fila.notificacao.entrada.daniel
QUEUE_STATUS=fila.notificacao.status.daniel



# Configuração do Swagger
SWAGGER_PATH=api/docs
SWAGGER_TITLE=API NestJS com RabbitMQ
SWAGGER_DESCRIPTION=API para processamento assíncrono de notificações com RabbitMQ
SWAGGER_VERSION=1.0

# Configuração de Log
LOG_LEVEL=debug


# Configuração das Filas
QUEUE_NAME_PREFIX=daniel
QUEUE_ENTRADA=fila.notificacao.entrada.daniel
QUEUE_STATUS=fila.notificacao.status.daniel



# Configuração do Swagger
SWAGGER_PATH=api/docs
SWAGGER_TITLE=API NestJS com RabbitMQ
SWAGGER_DESCRIPTION=API para processamento assíncrono de notificações com RabbitMQ
SWAGGER_VERSION=1.0

# Configuração de Log
LOG_LEVEL=debug
